:root {
   color-scheme: light;
   --PAGE-background-color: white;
   --PAGE-margin-inline: var(--OPTION-pageMargins);
   --PAGE-margin-block: calc(0.75 * var(--OPTION-pageMargins));
   @media (min-width: 45em) {
      --PAGE-margin-inline: calc(var(--OPTION-pageMargins) + 40px);
      --PAGE-margin-block: calc(0.75 * (var(--OPTION-pageMargins) + 40px));
   }
   --PAGE-height: 100vh;
   // --PAGE-height: 100dvh;

   --BANNER-height: calc(var(--PAGE-margin-block) + 2rem);
   --DIALOG-background-color: hsla(240, 18%, 96%, 0.75);
   --TOOLBAR-background-color: hsla(0, 0%, 100%, 0.75);

   --TEXT-color: black;
   --TEXT-color--inverted: white;
   --TEXT-color--faint: #a9a9ad;
   --TEXT-color--light: #808080;

   --red: hsl(0, 100%, 41%);

   --LINK-color: #003c8b;
   --LINK-color--light: #8aaad3;
   --LINK-color--faint: #d9e2ef;

   --focus-color: #5cb525;
   --focus-outline: 2px solid #5cb525;

   --BUTTON-color: #3478f6;
   --BUTTON-color--disabled: #a9a9ac;
   --BUTTON-background: hsl(240, 14%, 99%);
   --BUTTON-background--hover: hsl(219, 40%, 94%);
   --BUTTON-background--active: #b7e3f0;
   --BUTTON-background--disabled: hsl(0 0% 80%);

   --input-background: hsla(240, 10%, 93%, 1);
}

:root[data-color-scheme="dark"] {
   color-scheme: dark;
   font-weight: 350;
   --PAGE-background-color: black;
   --DIALOG-background-color: hsla(0, 0%, 0%, 0.5);
   --TOOLBAR-background-color: hsla(0, 0%, 0%, 0.75);

   --TEXT-color: hsl(0, 0%, 90%);
   --TEXT-color--inverted: black;
   --TEXT-color--faint: hsl(0, 0%, 34%);
   --TEXT-color--light: hsl(0, 0%, 75%);
   --red: hsl(0, 82%, 46%);

   --LINK-color: #9ac1f5;
   --LINK-color--light: hsl(219, 24%, 28%);
   --LINK-color--faint: hsl(218, 25%, 19%);

   --focus-color: rebeccapurple;
   --focus-outline: 2px solid rebeccapurple;

   --BUTTON-color: #5a91f7;
   --BUTTON-background: #121213;
   --BUTTON-background--active: hsl(194, 20%, 34%);
   --BUTTON-background--disabled: hsl(250, 4%, 12%);
   --BUTTON-color--disabled: hsl(0, 0%, 34%);

   --input-background: hsla(0, 0%, 19%, 0.75);
}

html {
   font-weight: 400;
   text-size-adjust: none;
   font: -apple-system-body;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
      Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
   font-size: var(--OPTION-fontSize);
   font-family: var(--OPTION-fontFamily);
   font-size-adjust: 0.5;
   line-height: 1.25;
   box-sizing: border-box;
   scrollbar-color: var(--TEXT-color--faint) var(--PAGE-background-color);
   scrollbar-gutter: stable;
   // overscroll-behavior: none;
   min-height: -webkit-fill-available;
   height: 100%;
   height: 100dvh;
   accent-color: var(--LINK-color);

   // background: var(--PAGE-background-color);
   background: var(--LINK-color--faint);

   scroll-padding-block: 5.5em 3em;
}

body {
   margin: 0 auto;
   color: var(--TEXT-color);
   width: min(100%, 1200px);
   // box-shadow: 0 0 20px -10px;
}

* {
   box-sizing: border-box;
   -webkit-tap-highlight-color: transparent;

   // Disable font-boosting on Android Chrome
   max-height: 1000000px;
}

[hidden] {
   display: none;
}

small {
   font-size: 0.85em;
}

hr {
   border: none;
   border-bottom: 1px solid;
   width: 100%;
   margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

a,
.Link {
   font: inherit;
   padding: 0;
   color: var(--LINK-color);
   text-decoration: none;
   background: none;
   border: none;
   user-select: auto;
   border-radius: 4px;
   cursor: pointer;
   &:focus {
      outline: var(--focus-outline);
   }
   &:focus:not(:focus-visible) {
      outline: none;
   }
   @media (hover: hover) {
      &:hover {
         text-decoration: underline;
      }
   }
   &:disabled {
      color: var(--TEXT-color--light);
   }
   &:active {
      text-decoration: underline;
   }
}

// Reset fieldset styling, including legend
fieldset {
   border: 0;
   padding: 0.01em 0 0 0;
   margin: 0;
   min-width: 0;
}
body:not(:-moz-handler-blocked) fieldset {
   display: table-cell;
}
legend {
   padding: 0;
   display: table;
}

input,
button {
   outline-color: var(--focus-color);
   &:focus-visible {
      // accent-color: var(--focus-color);
   }
}

:where(
      input[type="text"],
      input[type="search"],
      input[type="url"],
      input[type="number"]
   ) {
   padding: 6px;
   appearance: textfield;
   font: inherit;
   color: inherit;
   &:active {
      outline: none;
   }
   &:focus-visible {
      outline: var(--focus-outline);
   }
   outline-offset: -2px;

   display: flex;
   align-items: center;
   justify-content: center;
   gap: 4px;

   & svg {
      display: inline-block;
      height: 1.2em;
      width: 1.2em;
      flex-shrink: 0;
   }

   &::placeholder {
      color: var(--TEXT-color--light);
   }
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
   -webkit-appearance: none;
   appearance: none;
}

input[type="number"] {
   &::-webkit-inner-spin-button,
   &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
   }
}

input[type="range"] {
   width: 100%;
   border-radius: 4px;

   &:focus-visible {
      outline: var(--focus-outline);
      outline-offset: 2px;
      // outline: 1px dashed gray;
      -moz-outline-radius: 1em;
   }
}

input[type="checkbox"],
input[type="radio"] {
   transform: scale(1.25);
   margin-inline: 0.75em;
}

button {
   cursor: default;
}

.Button {
   background: var(--BUTTON-background);
   background: none;
   // padding-inline: 12px;
   color: var(--BUTTON-color);
   user-select: none;
   white-space: nowrap;
   border-radius: 0;
   // cursor: default;
   @media (hover: hover) {
      &:hover:not(:disabled, [aria-disabled]) {
         background: var(--BUTTON-background--hover);
      }
   }

   &:active:not(:disabled, [aria-disabled]),
   &.--active:not(:disabled, [aria-disabled]) {
      background: var(--BUTTON-background--active);
   }
   &:disabled,
   &[aria-disabled] {
      color: var(--BUTTON-color--disabled);
   }
}

.section {
   border-radius: 0.5rem;
   background: var(--PAGE-background-color);
   list-style: none;
   padding: 0;

   display: flex;
   flex-direction: column;

   & > * {
      min-height: 2.325rem;
      padding: 0.325rem 0.9rem;
      color: var(--TEXT-color);

      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5em;
      text-align: left;

      & > svg {
         display: inline-block;
         height: 1.375em;
         width: 1.375em;
         flex-shrink: 0;
         color: var(--BUTTON-color);
      }
   }

   & > .section-button {
      color: var(--BUTTON-color);
      border: none;
      background: none;
      font: inherit;

      &:disabled {
         color: var(--BUTTON-color--disabled);
      }
   }
   & > .section-input {
      display: flex;
      & > input {
         flex: 1;
         background: none;
      }
   }

   & > *:not(:last-child)::after {
      pointer-events: none;
      content: "";
      position: absolute;
      inset: 0 0 0 0.9rem;
      border-bottom: 0.5px solid var(--TEXT-color--faint);
   }
}

.section-header {
   padding-top: 0.5rem;
   padding-inline: 0.9rem;
   font-size: 0.8rem;
   text-transform: uppercase;
   color: var(--TEXT-color--light);
}
