.App {
    height: 100%;
    max-height: 100%;
    line-height: 1.4;
    // overflow: hidden;

    display: grid;
    grid-template:
        "title"
        "content" 1fr
        "toolbar";

    @media (min-width: 29rem) {
        grid-template:
            "toolbar title   blank"
            "content content content" 1fr
            / auto auto 1fr;

        &[data-sidebar-open="true"] {
            grid-template:
                "toolbar title   blank   sidebar"
                "content content content sidebar" 1fr
                / auto auto 1fr 24rem;
        }

        &[data-sidebar-open="false"] .App-sidebar {
            display: none;
        }
    }

    & > .Book {
        grid-area: content;
    }

    & > .Sidebar {
        grid-area: sidebar;
    }

    & > .title {
        grid-area: title;
        font-size: 1.1rem;
        padding-inline: 0.75em;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        @media (max-width: 29rem) {
            height: 2rem;
            // box-shadow: var(--toolbar-box-shadow);
            background: var(--control-background);
            border-block-end: var(--control-border);
        }
        font-weight: bold;
        @media (min-width: 29rem) {
            background: var(--background);
            border-inline: var(--control-border);
        }
    }

    @media (min-width: 29rem) {
        &::after {
            content: "";
            grid-area: blank;
            background: var(--control-background);
            border-bottom: var(--control-border);
        }
    }

    & .loading {
        grid-area: content;

        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

.Toolbar {
    grid-area: toolbar;
    z-index: 1;
    height: var(--toolbar-height);
    font-size: var(--toolbar-font-size);
    @media (max-width: 29rem) {
        border-block-start: var(--control-border);
        // box-shadow: var(--toolbar-box-shadow);
    }
    @media (min-width: 29rem) {
        border-bottom: var(--control-border);
    }

    gap: var(--control-border-width);
    background: var(--control-border-color);

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    overflow-x: auto;

    & > .expand {
        flex: 1;
    }
}

.Toolbar-input {
    display: flex;
    background: var(--background);
    font-weight: bold;
    text-align: center;

    & input {
        border-radius: 0;
        flex: 1;
        font: inherit;
        font-size: 1.2em;
        text-align: inherit;
        border: none;
        background: none;
        padding: 0;
        min-width: 0;
        width: 3em;
        height: 100%;
        outline-offset: -4px;
        @media (max-width: 29rem) {
            font-size: 1.2em;
        }
    }
}

.Toolbar-button {
    font: inherit;
    min-width: 3.5rem;
    height: 100%;
    line-height: 1;
    color: var(--color);
    border: none;
    background: var(--control-background);
    @media (min-width: 29rem) {
        padding: 0 0.75em;
    }
    user-select: none;
    &:focus:not(:focus-visible) {
        outline: none;
    }
    outline-offset: var(--focus-outline-offset);
    outline-offset: calc(-1 * var(--focus-outline-width));
    &:focus {
        outline: var(--focus-outline);
    }
    &:disabled,
    &[aria-disabled] {
        border-color: var(--disabled-color);
        color: var(--disabled-color);
    }
    &:active:not(:disabled):not([aria-disabled]) {
        background: var(--control-active-background);
    }
    &[aria-expanded="true"] {
        background: var(--control-active-background);
    }

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    & svg {
        display: inline-block;
        height: 1.2em;
        width: 1.2em;
        flex-shrink: 0;
        pointer-events: none;
    }
}
