.App {
    height: 100%;
    background: var(--page-background);
    // max-width: 50rem;
    // margin-inline: auto;

    display: flex;
    flex-direction: column;
    overflow: auto;

    & > .-canvas {
        flex: 1;
        overflow: auto;
        // scrollbar-gutter: stable;
        font-weight: var(--page-font-weight);
        font-family: var(--page-font-family);

        display: flex;
        flex-direction: column;
    }

    & > .-bottombar {
        z-index: 1;
        position: sticky;
        bottom: 0;
        background: var(--toolbar-background);
        gap: 0.325rem;
        height: var(--toolbar-height);
        border-top: 0.5px solid var(--color2);

        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}
