.Book {
    display: flex;
    overflow-x: auto;
    scroll-padding-block: var(--toolbar-height);
    @media (max-width: 560px), (max-height: 500px) {
        scroll-snap-type: x mandatory;
    }
    list-style: none;
    margin: 0;
    padding: 0;

    & > * {
        flex: 1 0;
        flex-basis: 560px;
        width: 560px;
        @media (max-height: 500px) {
            flex-basis: 100vw;
            width: 100vw;
        }
        max-width: 100vw;
        background: var(--background);
        // scrollbar-width: thin;
        scrollbar-color: gray var(--background);

        overflow-y: auto;
        scroll-snap-stop: always;
        scroll-snap-align: start; // align to start so that border-right is hidden off-screen

        box-sizing: content-box; //border should not count in element width
        &:not(:last-child) {
            border-right: 2px solid var(--canvas-background);
        }

        @media (min-width: 29rem) {
            padding-top: var(--toolbar-height); // top toolbar
        }
        @media (max-width: 29rem) {
            padding-bottom: var(--toolbar-height); // bottom toolbar
        }
    }

    // Scroll beyond last page
    &::after {
        content: "";
        flex: 1 0;
        min-width: calc(100vw - min(100vw, 560px));
        background: var(--canvas-background);
    }
}
