.Dialog {
    --offset: calc(100% + var(--toolbar-padding));

    background: var(--control-background);
    box-shadow: var(--toolbar-item-box-shadow);
    border: var(--control-border);

    z-index: 99;

    @media (max-width: 37rem) {
        position: fixed;
        margin: var(--dialog-inline-block) auto;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 999;
        max-height: 80vh;
        max-width: 90vw;
        width: 448px;
    }
    @media (min-width: 37rem) {
        position: absolute;
        min-width: 10rem;
        max-width: 30rem;
        max-height: 20rem;
        &.Dialog--bottomRight {
            top: var(--offset);
            left: 0;
        }
        &.Dialog--bottomLeft {
            top: var(--offset);
            right: 0;
        }
        &.Dialog--topRight {
            bottom: var(--offset);
            left: 0;
        }
        &.Dialog--topLeft {
            bottom: var(--offset);
            right: 0;
        }
    }
}

.Dialog-header {
    display: flex;
    align-items: stretch;
    border-bottom: var(--control-border);
    background: var(--control-background);
}
.Dialog-title {
    font-size: inherit;
    padding: 0.25rem 0.5rem;
    flex: 1;
}
.Dialog-closeButton {
    border: none;
    background: none;
    padding: 0;
    min-width: none;
    height: auto;
    border-left: var(--control-border);
}
.Dialog-contents {
    padding: 0.5rem;
    background: var(--background);
}

.details-with-Dialog {
    position: relative;

    // Full-screen overlay underneath the Dialog to trigger a close on click
    &[open] > summary:before {
        // background: rgba(21, 50, 104, 0.4);
        content: "";
        display: block;
        position: fixed;
        inset: 0 0 0 0;
        z-index: 1;
    }
}
