.Dialog {
    &:not([open]) {
        opacity: 0;
        pointer-events: none;
    }
    transition: opacity 50ms ease-in-out;
    z-index: 10;
    margin: auto;
    position: relative;
    font-size: 1rem;
    background: var(--dialog-background);
    box-shadow: var(--dialog-box-shadow);
    backdrop-filter: var(--dialog-backdrop-filter);
    user-select: contain;

    @media (max-width: 29rem) {
        position: fixed;
        bottom: calc(var(--toolbar-height) + var(--toolbar-gap));
        left: var(--toolbar-gap);
        right: var(--toolbar-gap);
        left: 0;
        right: 0;
        // max-height: calc(
        //     var(--vh100) - var(--toolbar-height) - var(--toolbar-gap)
        // );
        // inset: 0;
        bottom: 0;
        max-height: var(--vh100);
    }
    @media (min-width: 29rem) {
        position: fixed;
        top: calc(var(--toolbar-height) + var(--toolbar-gap));
        left: var(--toolbar-gap);
        max-height: calc(var(--vh100) - var(--toolbar-height) - 2 * var(--toolbar-gap));
        border: var(--control-border);
    }
}

.Dialog-closeButton {
    position: absolute;
    top: 0;
    right: 0;
    &:not(:focus) {
        pointer-events: none;
        opacity: 0;
    }
}
