.FindDialog {
    display: flex;
    @media (max-width: 29rem) {
        flex-direction: column-reverse;
    }
    @media (min-width: 29rem) {
        flex-direction: column;
        width: 24rem;
    }
    height: 100vh;
    padding: var(--toolbar-gap);
    gap: var(--toolbar-gap);

    & > .row {
        display: flex;
        align-items: center;
        gap: var(--toolbar-gap);

        & > .expand {
            flex: 1;
        }
    }

    & > .content {
        flex: 1;
        overflow: auto;
    }
}

.IndexAccordion {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: var(--toolbar-gap);
    @media (max-width: 29rem) {
        flex-direction: column-reverse;
    }

    & > .status {
        padding-inline: 0.25em;
    }

    & > .row {
        display: flex;
        align-items: center;
        gap: var(--toolbar-gap);

        & > .expand {
            flex: 1;
        }
    }

    & > .sections {
        flex: 1;
        border: var(--control-border);
        background: var(--background);

        overflow: auto;
        // scrollbar-gutter: stable;
        // scrollbar-gutter: stable both-edges;
        display: flex;
        flex-direction: column;

        & > .clear {
            flex: 1;
            padding: 0.75rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        & > details:not(:last-child) {
            border-bottom: var(--control-border);
        }

        & > details > summary:focus {
            outline: none;
        }
        & > details > summary:focus-visible > .label {
            outline: var(--focus-outline);
            outline-offset: -0.25rem;
        }
        & > details > summary {
            display: block;
            user-select: none;

            display: flex;
            align-items: center;
            position: relative;
        }
        & > details > summary > .label {
            padding-block: 0.25rem;
            padding-inline: 0 0.5rem;
            font-size: 1.15em;
            font-weight: inherit;

            display: flex;
            align-items: center;
        }

        & > details > summary > .meta {
            flex: 1;
            padding-inline-end: 0.5rem;

            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 0.5rem;
        }
        & > details > summary > .meta > .status-current {
            width: 0.85rem;
            height: 0.85rem;
            border-radius: 100%;
            position: relative;
            border: 4px solid orange;
            overflow: hidden;
            color: transparent;
        }
        & > details > summary > .label > .openIndicator {
            flex-shrink: 0;
            transition: transform ease-in-out 50ms;
            border-radius: 100%;
        }
        & > details[open] > summary > .label > .openIndicator {
            transform: rotate(90deg);
        }
    }
}

.AllList {
    display: flex;
    flex-direction: column;
    height: 100%;
    // gap: var(--toolbar-gap);
    @media (max-width: 29rem) {
        flex-direction: column-reverse;
    }

    & > .status {
        padding: 0.25em;
    }

    & > .row {
        display: flex;
        align-items: center;
        gap: var(--toolbar-gap);

        & > .expand {
            flex: 1;
        }
    }

    & > .content {
        flex: 1;
        border: var(--control-border);
        background: var(--listbox-background);
        overflow: auto;
        scrollbar-gutter: stable;
    }
}

ul.ReferenceList {
    list-style: none;
    margin: 0;
    padding: 0;
    background: var(--listbox-background);

    display: grid;
    grid-template-columns: minmax(1.5rem, auto) 1fr;

    // Reference
    & > li {
        grid-column: 1 / -1;
        &:not(:last-child) {
            border-bottom: 1px solid var(--control-border-color);
        }

        display: flex;
        text-decoration: none;
        color: inherit;

        display: grid;
        grid-template-areas:
            "id title"
            "id lines";
        grid-template-columns: minmax(2.5rem, auto) 1fr; // fallback
        grid-template-columns: subgrid;
    }

    & > li > .reference-id {
        text-decoration: none;
        font-weight: bold;
        text-align: end;
        padding-block: 0.25rem;
        padding-inline: 0.35rem;
    }
    & > li > .reference-title {
        flex: 1;
        border-inline-start: 1px solid var(--control-border-color);
        padding-block: 0.25rem;
        padding-inline: 0.35rem 0.25rem;
        color: var(--link-color);
        text-decoration: none;
        font: inherit;
        &:hover {
            text-decoration: underline;
        }
    }

    & > li.is-current > .reference-id {
        background: orange;
    }

    & > li.is-deleted > .reference-title {
        text-decoration: line-through;
        &:hover {
            text-decoration: line-through underline;
        }
    }

    // List of matching lines
    & > li > ul {
        grid-area: lines;
        margin: 0;
        padding: 0;
        list-style: none;
        border-left: 1px solid var(--control-border-color);

        & > li {
            font-size: 0.9em;
            padding-inline: 0.35rem;
            padding-block: 0.15rem;
            border-top: 1px dashed var(--control-border-color);
        }
    }
}
