.Home {
   min-height: 100vh;
   min-height: 100dvh;

   background: var(--PAGE-background-color);

   display: flex;
   flex-direction: column;

   & > .-title {
      font-weight: bold;
      font-size: 2rem;
      padding: 32px;
      text-align: center;
   }

   & > .-contents {
      flex: 1;
      padding: 32px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      justify-items: center;
      align-items: center;
      gap: 32px;

      & > .-titles {
         display: flex;
         flex-flow: row wrap;
         justify-content: center;
         align-content: center;
         justify-items: center;
         align-items: flex-end;
         gap: 32px;
      }

      & > .-buttons {
         width: 100%;
         display: flex;
         justify-content: center;
         gap: 32px;

         & > .-button {
            font: inherit;
            min-width: 225px;
            min-height: 36px;
            color: var(--BUTTON-color);
            padding: 4px;
            border-radius: 8px;
            line-height: 1;
            background: var(--background-tinted1);
            border: 1px solid var(--background-tinted2);
            // box-shadow: 0 0 6px hsla(210, 19%, 11%, 0.15);
            @media (hover: hover) {
               &:hover {
                  // border: 1px solid var(--background-tinted2);
                  background: var(--background-tinted4);
               }
            }
            &:active {
               outline: none;
            }
            &:disabled,
            &[aria-disabled] {
               color: var(--BUTTON-color--disabled);
               user-select: none;
            }

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;

            & svg {
               display: inline-block;
               height: 1.2em;
               width: 1.2em;
               flex-shrink: 0;
            }
         }
      }
   }

   & > .-settings {
      padding: 32px 64px;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      gap: 32px 16px;
      justify-content: space-evenly;
      justify-items: center;
      align-content: center;

      & > .-radioSet {
         // box-shadow: 0 0 4px hsla(210, 19%, 11%, 0.25);
         border-radius: 8px;
         min-width: 225px;
         border: 1px solid var(--background-tinted2);
         padding: 4px;
         gap: 4px;

         display: flex;

         & > input[type="radio"] {
            position: absolute;
            overflow: hidden;
            width: 1px;
            height: 1px;
            clip: rect(0 0 0 0);
            user-select: none;
         }

         & > input[type="radio"]:checked + label {
            background: var(--background-tinted1);
            border: 1px solid var(--background-tinted2);
         }

         & > input[type="radio"]:focus-visible + label {
            outline: 2px solid var(--focus-color);
         }

         & > label {
            flex: 1;
            min-height: 36px;
            user-select: none;
            padding: 4px 16px;
            padding-inline: 8px;
            color: var(--BUTTON-color);
            border-radius: 8px;
            border: 1px solid transparent;
            // white-space: nowrap;
            @media (hover: hover) {
               &:hover {
                  border: 1px solid var(--background-tinted2);
               }
            }

            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
         }
      }
   }
}

.section {
   border-radius: 0.5rem;
   background: var(--background3);
   list-style: none;
   padding: 0;

   display: flex;
   flex-direction: column;

   & > * {
      min-height: 2.325rem;
      padding: 0.325rem 0.9rem;
      color: var(--color);

      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5em;
      text-align: left;

      & > svg {
         display: inline-block;
         height: 1.375em;
         width: 1.375em;
         flex-shrink: 0;
         color: var(--BUTTON-color);
      }
   }

   & > .section-button {
      color: var(--BUTTON-color);
      border: none;
      background: none;
      font: inherit;

      &:disabled {
         color: var(--BUTTON-color--disabled);
      }
   }
   & > .section-input {
      display: flex;
      & > input {
         flex: 1;
         background: none;
      }
   }

   & > *:not(:last-child)::after {
      pointer-events: none;
      content: "";
      position: absolute;
      inset: 0 0 0 0.9rem;
      border-bottom: 0.5px solid var(--color2);
   }
}

.section-header {
   padding-top: 0.5rem;
   padding-inline: 0.9rem;
   font-size: 0.8rem;
   text-transform: uppercase;
   color: var(--color3);
}
