.Hymn {
    font-size: calc(1rem * var(--ui-scale-factor, 1));
    // transition: font-size 0.15s;
    padding: 1rem 0.75rem 0.75rem 0.75rem;
    min-height: 100%;

    // For the .visually-hidden class
    position: relative;

    display: flex;
    flex-direction: column;
    background: var(--background);
    gap: 0.5em;
}

.Hymn-header {
    text-align: center;
    top: 0;

    & > * {
        margin-top: 0;
    }
    & > * + * {
        margin-top: 0.5em;
    }
}
.Hymn-number {
    font-size: 1.625em;
    line-height: 1;
    font-weight: bold;
    scroll-margin-top: 5em;
}
.Hymn-asterisk {
    padding: 0 0.1em;
    display: inline-block;
    transform: scale(1.5);
}
.Hymn.isDeleted .Hymn-number {
    text-decoration: line-through;
}
.Hymn-tunes {
    font-style: italic;
}

.Hymn-chorus,
.Hymn-refrain {
    margin-left: 1em;
}
.Hymn-inlineRefrain {
    font-style: italic;
}

.Hymn-highlight {
    background: blue;
}

.Hymn-verses {
    flex: 1;
    // text-align: justify;
    // hyphens: auto;

    & > * {
        margin-top: 0;
    }
    & > * + * {
        margin-top: 0.625em;
    }
}
.Hymn-verseNumber {
    margin-left: 0.75em;
    margin-right: 0.5em;
}
.Hymn-repeat {
    font-weight: bold;
    margin-right: 0.5em;
}
.Hymn-repeatMarker {
    // margin-left: -0.5em;
}
.Hymn-line {
    margin-right: 0.5em;
    break-after: always;
}
.Hymn-verse,
.Hymn-chorus,
.Hymn-refrain,
.Hymn-inlineRefrain {
    &.is-deleted .Hymn-line {
        text-decoration: line-through;
    }
}

.Hymn-line--nospaceafter {
    margin-right: 0;
}
.Hymn-line--break {
    text-indent: -1em;
    margin-left: 1em;
}

.Hymn-details {
    border-top: 1px solid;
    padding-top: 0.5em;
    font-size: 0.8em;
    line-height: 1.5;
}
.Hymn-topics,
.Hymn-days {
    font-size: 0.85em;
}
