.Hymn {
   flex: 1;
   height: 100%;

   display: flex;
   flex-direction: column;
}
.Hymn:focus {
   outline: none;
}

.Hymn-topics {
   text-align: center;
   font-size: 0.85em;
}
.Hymn-topics > * {
   white-space: nowrap;
}

.Hymn.--deleted .Hymn-verses {
   color: var(--TEXT-color--faint);
}

.Hymn-verses {
   flex: 1;
}

.Hymn-details {
   font-size: 0.75em;
}

.Hymn-details > * > :first-child {
   font-weight: bold;
}
.Hymn-details > *:not(:last-child) {
   border-bottom: 0.5px solid var(--TEXT-color--light);
}

@media (max-width: 54.9999em) {
   .Hymn {
      display: flex;
      flex-direction: column;
      gap: 1em;
   }

   .Hymn-details {
      display: grid;
      grid-template-columns: auto 1fr;
      align-content: start;
      column-gap: 1em;
      border-top: 1px solid;
      padding-top: 1em;
   }

   .Hymn-details > * {
      display: grid;
      grid-column: 1 / 3;
      column-gap: 1em;
      grid-template-columns: 5em 1fr;
      /* fallback */
      grid-template-columns: subgrid;

      padding: 0.25em;
   }
   .Hymn-details > * > :first-child {
      grid-column: 1 / 2;
   }
   .Hymn-details > * > :last-child {
      grid-column: 2 / 3;
   }
}

@media (min-width: 55em) {
   .Hymn {
      display: grid;
      grid-template:
         "topics topics"
         "verses details" 1fr
         / 1fr 8em;

      gap: 1em;
   }

   .Hymn-topics {
      grid-area: topics;
   }
   .Hymn-verses {
      grid-area: verses;
   }
   .Hymn-details {
      grid-area: details;
      border-inline-start: 1px solid;
      padding-inline-start: 1em;

      display: flex;
      flex-direction: column;
   }

   .Hymn-details > * {
      padding: 0.25em;
   }
}