.Hymn {
   display: grid;
   grid-template: 1fr /1fr;
   &:focus {
      outline: none;
   }

   display: flex;
   flex-direction: column;

   &.--deleted > .-verses {
      color: var(--color2);
   }

   & > .-topics {
      font: inherit;
      font-size: 0.75em;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 0.5em;
      padding-block: 1.25rem 1rem;

      & > .-topic {
         white-space: nowrap;
         background: var(--background-tinted1);
         padding: 0.125em 0.375em;
         border-radius: 4px;
      }
   }

   & > .-header {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      gap: 0.75em 1em;
      @media (max-width: 29rem) {
      }
      flex-direction: column;
      align-items: center;
      text-align: center;

      & > .-id {
         font-weight: bold;
         font-size: 1.25em;
         text-align: center;
         line-height: 1;
         @media (min-width: 29rem) {
            text-align: left;
         }
      }
   }

   & > .-verses {
      flex: 1;
      min-height: 15rem;
   }

   & > .-details {
      font-size: 0.75em;
      margin-inline: -0.25em;
      margin-block-start: max(1.5em, var(--OPTION-paragraphSpacing));

      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: 1em;

      & > .-row {
         padding: 0.25em;
         &:not(:last-child) {
            border-bottom: 0.5px solid var(--color3);
         }

         display: grid;
         grid-column: 1 / 3;
         column-gap: 1em;
         grid-template-columns: 5em 1fr; // fallback
         grid-template-columns: subgrid;

         & > :first-child {
            grid-column: 1 / 2;
            font-style: italic;
         }
         & > :last-child {
            grid-column: 2 / 3;
         }
      }
   }
}
