.ImportDialog {
   position: fixed;
   z-index: 10;
   overflow: auto;
   user-select: contain;
   font-size: 18px;

   &:not([open]) {
      display: none;
   }
   &.--over {
      background: rgb(239, 221, 175);
   }

   padding: 0;
   border: none;
   color: inherit;
   background: var(--DIALOG-background-color);
   // background: none;
   backdrop-filter: blur(12px);

   border-radius: 16px;
   box-shadow: 0 0 80px hsla(210, 19%, 11%, 0.25), 0 0 50px -10px hsla(0, 0%, 0%, 0.5),
      0 0 1px;

   margin: auto;
   height: 750px;
   width: 550px;
   max-height: calc(100% - 2 * 12px);
   max-width: calc(100% - 2 * 12px);
   inset: 12px;
   @media (max-width: 35em) {
      height: 500px;
      top: auto;
   }

   &::backdrop {
      display: none;
   }

   display: grid;
   grid-template-rows: auto 1fr auto;
}

.ImportDialog-header {
   padding: 0.75em;
   display: flex;
   gap: 0.75em;
   justify-content: center;
   font-size: 1.25em;
   font-weight: 600;
}

.ImportDialog-contents {
   padding: 1em;
   display: flex;
   flex-direction: column;
   gap: 1em;
   overflow: auto;
}

.ImportDialog-entries {
   border-block: 1px solid;
   padding-block: 1em;
   display: flex;
   flex-direction: column;
   gap: 0.5em;
}

.ImportDialog-entry {
   display: flex;
   gap: 0.5em;
}

.ImportDialog-entryLabel {
   flex: 1;
   padding-inline-start: 0.75rem;
   text-indent: -0.75rem;
}

.ImportDialog-footer {
   position: sticky;
   bottom: 0;
   background: var(--DIALOG-background-color);
   backdrop-filter: blur(4px);
   padding: 12px;
   display: flex;
   gap: 12px;

   & > button {
      flex: 1;
      min-height: 36px;
      border-radius: 8px;
      font: inherit;
      border: 1px solid var(--LINK-color--light);
      background: var(--LINK-color--faint);
      color: var(--BUTTON-color);
   }
}

.AddDialog {
   position: fixed;
   z-index: 100;
   overflow: auto;
   inset: 0;
   z-index: 1;
   user-select: contain;

   &:not([open]) {
      // display: none;
   }
   &:focus {
      outline: none;
   }
   &:focus-visible .AddDialog-titlebar {
      outline: var(--focus-outline);
      outline-offset: -0.325rem;
   }
   padding-top: 1rem;
   @media (min-width: 29rem) {
      padding: 1.5rem;
   }

   display: flex;
   align-items: center;
   justify-content: center;

   & > .-overlay {
      z-index: -1;
      position: fixed;
      inset: 0;
      background: var(--TEXT-color);
      opacity: 0.15;
   }

   & > .-window {
      background: var(--DIALOG-background-color);
      height: 100%;
      box-shadow: 0 0 80px hsla(210, 19%, 11%, 0.25);
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      @media (min-width: 29rem) {
         border-radius: 12px;
         max-height: 45rem;
         max-width: 30rem;
      }

      transition: background-color 100ms ease-in;
      &.is-over {
         background: rgb(239, 221, 175);
      }

      display: grid;
      grid-template:
         "titlebar"
         "contents" 1fr;

      & > .-titlebar {
         min-height: 48px;

         display: grid;
         grid-template-columns: 1fr auto 1fr;

         & > .-gutter {
            display: flex;
            &:last-child {
               justify-content: flex-end;
            }
            &:first-child {
               justify-content: flex-start;
            }
            & > * {
               padding-inline: 16px;
            }
         }

         & > .-title {
            padding: 4px;
            display: flex;
            align-items: center;
         }
      }

      & > .-contents {
         display: flex;
         flex-direction: column;
         gap: 8px;
         padding-inline: 16px;
         padding-block: 0 16px;
         overflow: auto;
         overscroll-behavior: none;

         & > .dropMessage {
            padding-inline: 0.9rem;
            font-size: 0.9rem;
            color: var(--TEXT-color--light);
            p {
               margin-top: 8px;
            }
            a {
               text-decoration: underline;
            }
         }
      }
   }
}

.ImportItem {
   border-radius: 8px;
   background: var(--PAGE-background-color);

   display: flex;
   flex-direction: column;

   & > * {
      position: relative;
      min-height: 2.325rem;
      padding: 0.325rem 0.9rem;
   }

   // & > *:not(:last-child)::after {
   //     pointer-events: none;
   //     content: "";
   //     position: absolute;
   //     inset-inline: 0;
   //     inset-block: 0;
   //     border-bottom: 0.5px solid var(--TEXT-color--faint);
   // }

   & > .-stats {
      flex: 1;
      display: flex;
      flex-direction: column;
      font-size: 0.9rem;
      border-bottom: 0.5px solid var(--TEXT-color--faint);

      & > * {
         padding: 4px 0;
         color: var(--TEXT-color);

         position: relative;
         display: flex;
         justify-content: flex-start;
         align-items: center;
         gap: 8px;
         text-align: left;

         display: flex;
         justify-content: space-between;

         & > *:first-child {
            color: var(--TEXT-color--light);
         }
         & > *:last-child {
            text-align: right;
         }
      }

      & > *:not(:last-child)::after {
         pointer-events: none;
         content: "";
         position: absolute;
         inset: 0;
         border-bottom: 0.5px dashed var(--TEXT-color--faint);
      }
   }
}
