:root[data-color-scheme="light"],
:root {
   --select-arrow-url: url("data:image/svg+xml;utf8,<svg viewBox='0 0 20 20' width='20' height='20' fill='black' xmlns='http://www.w3.org/2000/svg'><polygon points='0,5 20,5 10,15'/></svg>");

   --page-font-weight: 400;
   --page-background: white;
   --background1: hsl(240, 18%, 96%);
   --background2: hsl(240, 14%, 99%);
   --background3: white;
   --background4: hsl(240, 18%, 90%);
   --background5: hsl(0, 0%, 96%); //menu
   --background-tinted1: hsl(219, 40%, 94%);
   --background-tinted2: hsl(219, 40%, 85%);
   --page-background: var(--background3);
   --toolbar-background: hsla(0, 0%, 96%, 0.85);
   --color: black;
   --color2: hsl(240, 2%, 67%);
   --color3: hsl(0, 0%, 50%);
   --color-warning: hsl(0, 100%, 41%);
   --link-color: #003c8b;
   --accent-color: hsl(250, 50%, 40%);
   --focus-color: rebeccapurple;
   --focus-outline: 2px solid var(--focus-color);
   --selected-background: hsl(39, 100%, 86%);
   --button-color: #3478f6;
   // --button-color: #003c8b;
   --button-background: var(--background2);
   --button-active-background: #b7e3f0;
   --button-disabled-background: hsl(0 0% 80%);
   --button-disabled-color: #a9a9ac;
   --input-background: #e3e3e8;
}

:root[data-color-scheme="dark"] {
   --select-arrow-url: url("data:image/svg+xml;utf8,<svg viewBox='0 0 20 20' width='20' height='20' fill='white' xmlns='http://www.w3.org/2000/svg'><polygon points='0,5 20,5 10,15'/></svg>");

   --background1: black;
   --background2: hsl(240, 3%, 7%);
   --background3: hsl(240, 3%, 11%);
   --background4: hsl(240, 4%, 20%);
   --background5: hsl(0, 0%, 14%); //menu
   --background-tinted1: hsl(219, 20%, 12%);
   --background-tinted2: hsl(219, 20%, 20%);
   --page-background: var(--background1);
   --toolbar-background: hsla(240, 3%, 7%, 0.65);
   --page-font-weight: 300;
   --color: hsl(0, 0%, 90%);
   --color2: hsl(0, 0%, 34%);
   --color3: hsl(0, 0%, 75%);
   --color-warning: hsl(0, 82%, 46%);
   --link-color: #aed1ff;
   --accent-color: hsl(225, 58%, 54%);
   --focus-color: rebeccapurple;
   --focus-outline: 2px solid var(--focus-color);
   --selected-background: hsl(129, 95%, 15%);
   --button-color: #5a91f7;
   // --button-color: #aed1ff;
   --button-background: #121213;
   --button-active-background: hsl(194, 20%, 34%);
   --button-disabled-background: hsl(250, 4%, 12%);
   --button-disabled-color: hsl(0, 0%, 34%);
   --input-background: #303030;
}

:root {
   --titlebar-height: 28px;
   --page-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
   --toolbar-height: 44px;
   --toolbar-height: Max(44px, 1.75em);

   text-size-adjust: none;
   // overscroll-behavior-y: none;
   font: -apple-system-body;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
      Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
   line-height: 1.25;
   box-sizing: border-box;
   background: var(--background4);

   height: 100%;

   scroll-snap-type: mandatory;
   overflow: auto;
}

body {
   height: 100%;
   margin-inline: auto;
   margin-block: 0;
   color: var(--color);
   max-width: 960px;
   // max-width: 1200px;
}

#react-root {
   height: 100%;
}

* {
   box-sizing: border-box;
   -webkit-tap-highlight-color: transparent;
}

*::selection {
   // background: var(--accent-color);
   // color: white;
}

html * {
   /* Disable font-boosting on Android Chrome */
   max-height: 1000000px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
   margin-top: 0;
   margin-bottom: 0;
   font-weight: inherit;
}

a {
   color: var(--link-color);
   text-decoration: none;
}
a:focus {
   outline: var(--focus-outline);
}
a:focus:not(:focus-visible) {
   outline: none;
}
a:hover {
   text-decoration: underline;
}

%form-control {
   font: inherit;
   color: var(--color);
   accent-color: var(--accent-color);
   border: none;
   padding: 6px;
   border-radius: 8px;
   line-height: 1;
   &:active {
      outline: none;
   }
   // &:focus:not(:focus-visible) {
   //     outline: none;
   // }
   // &:focus {
   //     outline: var(--focus-outline);
   // }
   &:disabled,
   &[aria-disabled] {
      color: var(--button-disabled-color);
      user-select: none;
   }

   display: flex;
   align-items: center;
   justify-content: center;
   gap: 4px;

   & svg {
      display: inline-block;
      height: 1.2em;
      width: 1.2em;
      flex-shrink: 0;
   }
}

input,
button,
select {
   accent-color: var(--accent-color);
   color: var(--color);
}

select {
   @extend %form-control;
   background: var(--button-background);
   color: var(--color);

   // open arrow
   appearance: none;
   background-image: var(--select-arrow-url);
   background-repeat: no-repeat;
   background-position-x: calc(100% - 0.625em);
   background-position-y: center;
   background-size: 0.75em;
   padding-right: 1.625em;

   outline-offset: -1px;
}

input[type="text"],
input[type="search"],
input[type="url"],
input[type="number"] {
   @extend %form-control;
   max-width: 100%;
   background: var(--input-background);
   color: var(--color);
   min-width: 6em;
   appearance: textfield;

   &::placeholder {
      color: var(--color3);
   }
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
   -webkit-appearance: none;
   appearance: none;
}

input[type="number"] {
   &::-webkit-inner-spin-button,
   &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
   }
}

input[type="range"] {
   width: 100%;
   accent-color: var(--accent-color);

   &:focus-visible {
      outline: var(--focus-outline);
      outline-offset: 2px;
      outline: 1px dashed gray;
      -moz-outline-radius: 1em;
   }
}

.Button {
   @extend %form-control;
   background: var(--button-background);
   background: none;
   color: var(--button-color);
   padding-inline: 4px;
   user-select: none;
   white-space: nowrap;
   cursor: default;

   &:active:not(:disabled):not([aria-disabled]) {
      // background: var(--button-active-background);
   }
   // &:disabled,
   // &[aria-disabled] {
   //     color: var(--button-disabled-color);
   // }
}

legend {
   padding: 0;
   display: table;
}
fieldset {
   border: 0;
   padding: 0.01em 0 0 0;
   margin: 0;
   min-width: 0;
}
body:not(:-moz-handler-blocked) fieldset {
   display: table-cell;
}

@import "AddDialog.scss";
@import "Book.scss";
@import "BookCover.scss";
@import "BookIndex.scss";
@import "fonts.scss";
@import "Home.scss";
@import "Hymn.scss";
@import "Menu.scss";
@import "NavigationBar.scss";
@import "OptionsPanel.scss";
@import "SearchBar.scss";
@import "Spinner.scss";
@import "TabList.scss";

// Visually hidden, still accessible to screen readers.
// Parent element may need `position: relative` to avoid breaking nested scrolling layouts.
.visually-hidden {
   position: absolute;
   overflow: hidden;
   width: 1px;
   height: 1px;
   clip: rect(0 0 0 0);
   user-select: none;

   // Keep leading and trailing white-space so that screen reader prompts can be
   // inserted anywhere without being munged together with adjacent text
   white-space: pre;
}

.reset {
   font: inherit;
   border: none;
   margin: 0;
   padding: 0;
   color: inherit;
   background: none;
   list-style: none;
   text-align: left;
}

.relative {
   position: relative;
}
.absolute {
   position: absolute;
}
.display-contents {
   display: contents;
}
.display-flex {
   display: flex;
}
.align-center {
   align-items: center;
}
.align-end {
   align-items: flex-end;
}
.align-baseline {
   align-items: baseline;
}
.align-baseline {
   align-items: baseline;
}
.align-stretch {
   align-items: stretch;
}
.justify-end {
   justify-content: flex-end;
}
.flex-1 {
   flex: 1;
}
.bold {
   font-weight: 700;
}
.semibold {
   font-weight: 600;
}
.color-subdued {
   color: var(--color3);
}
.color-button {
   color: var(--button-color);
}
.color-warning {
   color: var(--color-warning);
}

.subdued {
   color: var(--color3);
}
