.ListBox {
   z-index: 100;
   max-width: 100%;
   position: relative;
   border: 1px solid var(--LINK-color--light);
   border: 1px solid var(--LINK-color);
   border-radius: 8px;
   background: var(--PAGE-background-color);
   color: var(--TEXT-color);
   user-select: none;
   &:focus {
      outline: none;
   }
   &:has(:focus-visible) {
      outline: var(--focus-outline);
   }

   overflow: auto;
   overscroll-behavior: contain;

   & optgroup {
      display: flex;
      flex-direction: column;
      border-top: 3px solid;
   }

   & h-option {
      padding-block: 0.25em;
      padding-inline: 1.75em 0.25em;
      border: none;
      font: inherit;
      background: none;
      text-decoration: none;
      text-align: start;
      &:focus-visible {
         background: hsla(0, 0%, 0%, 0.1);
         background: var(--LINK-color--faint);
         outline: none;
      }
      @media (hover: hover) {
         &:hover {
            background: var(--LINK-color--faint);
         }
      }
      &:disabled,
      &[disabled] {
         color: var(--BUTTON-color--disabled);
         text-decoration: line-through;
         &:focus {
            background: var(--BUTTON-background--disabled);
         }
      }

      &[selected]::before {
         content: "✓";
         font-weight: bold;
         position: absolute;
         inset-inline-start: 0.5em;
      }

      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.25em;

      & svg {
         display: inline-block;
         height: 1.2em;
         width: 1.2em;
         flex-shrink: 0;
      }
   }

   & h-option + h-option {
      border-top: 0.5px solid var(--TEXT-color--faint);
   }
}
