.ManageDialog {
    height: 100vh;
    display: grid;
    gap: var(--toolbar-gap);
    padding: var(--toolbar-gap);
    @media (min-width: 29rem) {
        width: 25rem;
        grid-template:
            "header"
            "controls"
            "contents" 1fr;
    }
    @media (max-width: 29rem) {
        grid-template:
            "contents" 1fr
            "controls"
            "header";
    }

    & > .header {
        grid-area: header;

        display: flex;
        gap: var(--toolbar-gap);
        gap: 0.75rem;
        font-size: calc(var(--toolbar-scale-factor) * 1rem);
        align-items: center;

        & > .backButton {
        }

        & .title {
            flex: 1;
            font-size: inherit;
            font-weight: bold;
        }
    }

    & > .contents {
        grid-area: contents;

        display: flex;
        flex-direction: column;
        gap: var(--toolbar-gap);
    }

    & .documentsList {
        flex: 1;
        border: var(--control-border);
        background: var(--background);
        box-shadow: inset var(--toolbar-item-box-shadow);
        padding-bottom: 0.5rem;
        &.is-over {
            background: goldenrod;
            color: black;
        }
        display: flex;
        flex-direction: column;
        // justify-content: end;

        & > * {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.5rem 0.75rem;
            border-bottom: var(--control-border);
        }
    }

    & .controls {
        grid-area: controls;
        display: flex;
        justify-content: end;
        gap: var(--toolbar-gap);
        align-items: center;
    }
}
