.Menu {
   max-width: 100%;
   z-index: 100;
   position: absolute;
   &[hidden] {
      display: block;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0ms ease-in;
   }
   transition: opacity 50ms ease-out;
   transform-origin: top right;

   box-shadow: 0 0 80px hsla(210, 19%, 11%, 0.375);
   user-select: none;
   border: 1px solid var(--LINK-color--light);
   border-radius: 8px;
   background: var(--PAGE-background-color);
   &:focus {
      outline: none;
   }

   overflow: auto;
   overscroll-behavior: contain;

   display: flex;
   flex-direction: column;

   & > [role="group"] {
      display: flex;
      flex-direction: column;
   }

   & > [role="separator"] {
      border-top: 3px solid;
   }

   & > h-menuitem,
   & > [role="group"] > h-menuitem {
      min-height: 36px;
      padding-block: 4px;
      padding-inline: 28px 16px;
      border: none;
      font: inherit;
      background: none;
      text-decoration: none;
      text-align: start;
      &:focus {
         background: hsla(0, 0%, 0%, 0.1);
         background: var(--LINK-color--faint);
         outline: none;
      }
      &[disabled],
      &[aria-disabled="true"] {
         color: var(--BUTTON-color--disabled);
         &:focus {
            background: var(--BUTTON-background--disabled);
         }
      }

      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 4px;

      & svg {
         display: inline-block;
         height: 1.2em;
         width: 1.2em;
         flex-shrink: 0;
      }
   }

   & > h-menuitem[checked]::before {
      content: "✓";
      font-weight: bold;
      position: absolute;
      left: 8px;
   }

   & > h-menuitem + h-menuitem,
   & > [role="group"] > h-menuitem + h-menuitem {
      border-top: 0.5px solid var(--TEXT-color--faint);
   }
}
