.rc-menu-container {
    position: absolute;
    width: 0;
    height: 0;
}
.rc-menu__submenu {
    position: relative;
}

[role="menu"] {
    padding: 0.19rem 0;
    position: absolute;
    list-style: none;
    border: var(--control-border);
    background: var(--control-background);
    color: var(--color);
    // box-shadow: 1px 1px 3px -1px hsla(0, 0%, 0%, 0.5);
    box-shadow: var(--toolbar-item-box-shadow);

    & [role="menuitem"],
    & [role="menuitemcheckbox"],
    & [role="menuitemradio"] {
        display: block;
        white-space: nowrap;
        padding: 0.25rem 0.5rem;
        width: 100%;
        text-align: left;
        cursor: default;
        color: inherit;
        background: none;
        border: none;
        font: inherit;
        user-select: none;
        text-decoration: none;

        &[aria-disabled="true"] {
            color: #a3a3a3;
        }
        &[aria-pressed="true"] {
            // background: #cecece;
        }
        &[aria-checked="true"]::before {
            content: "•";
        }
        &:hover {
            outline: none;
        }
        &:focus {
            outline: var(--focus-outline);
            outline-offset: -1px;
        }
        &:focus[aria-disabled="true"] {
            background: #e9e8e8;
        }

        &:active:not([aria-disabled="true"]) {
            // background: #838282;
            // color: white;
        }
    }

    // Submenu
    & [role="menuitem"][aria-haspopup] {
        padding-right: 2.5rem;

        &::after {
            content: "❯";
            position: absolute;
            right: 1rem;
        }
    }

    & [role="separator"] {
        height: 1px;
        background: currentColor;
        margin: 0.19rem 0.5rem;
    }

    & [role="group"] {
        padding: 0;
        list-style: none;
        &:focus-within {
            outline: 1px solid red;
        }
    }
}
