.OptionsPanel {
   min-height: 100vh;
   background: var(--background1);

   display: flex;
   flex-direction: column;
}

.OptionsPanel-contents {
   flex: 1;

   display: flex;
   flex-direction: column;
   overflow: auto;
   padding: 1rem;
}

.ToggleButton {
   user-select: none;
   justify-content: flex-start;
   white-space: nowrap;
   border: none;
   display: flex;
   gap: 0.25rem;
   align-items: center;
   padding: 0.5rem;
}

.Select {
   user-select: none;
   white-space: nowrap;
   border: none;
   display: flex;
   gap: 0.5rem;

   & > label {
      flex: 1;
   }
   & > select {
      background-color: var(--toolbar-background);
   }
}

.OptionsPanel-range {
   user-select: none;
   // padding: 0.5rem;
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}
