.OptionsDialog {
    // display: grid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0.5rem;
    padding-top: 0;
    overflow: auto;

    @media (max-width: 29rem) {
        // border-block-start: var(--control-border);
    }
}

.OptionsDialog-range {
    padding: 0.25rem 0.5rem 0;
}

.OptionsDialog-toggles {
    display: flex;
    flex-wrap: wrap;
    gap: 0.325rem;

    & > * {
        flex: 1 0;
        width: fit-content;
    }
}

.OptionsDialog-closeButton {
    position: absolute;
    top: 0;
    right: 0;
    &:not(:focus) {
        pointer-events: none;
        opacity: 0;
    }
}
