.OptionsDialog {
    display: grid;
    flex-wrap: wrap;
    gap: var(--toolbar-gap);
    padding: var(--toolbar-gap);
    overflow: auto;

    @media (min-width: 29rem) {
        max-width: 23rem;
    }
    @media (max-width: 29rem) {
        border-top: var(--control-border);
    }
}

.OptionsDialog-range {
    padding: 0.25rem 0.5rem 0;
}

.OptionsDialog-toggles {
    display: flex;
    flex-wrap: wrap;
    gap: var(--toolbar-gap);

    & > * {
        flex: 1 0;
        width: fit-content;
    }
}
