.Page {
   min-height: var(--PAGE-height);
   background: var(--PAGE-background-color);
}

.Page-contents {
   padding-block: 0 var(--PAGE-margin-block);
   padding-inline: var(--PAGE-margin-inline);

   line-height: var(--OPTION-lineHeight, 1.4);
   font-weight: var(--PAGE-font-weight);
   font-size: var(--OPTION-fontSize, 1rem);
   font-family: var(--OPTION-fontFamily);
   font-size-adjust: 0.5;

   display: flex;
   flex-direction: column;
   gap: 1em;
}

@media (max-width: 44.9999em) {
   .Page {
      display: flex;
      flex-direction: column;
   }
   .Page-contents {
      flex: 1;
   }
}

@media (min-width: 45em) {
   .Page {
      display: grid;
      --w: calc(var(--PAGE-margin-inline) - 10px);
      grid-template:
         "prev contents next"
         / var(--w) 1fr var(--w);
   }
   .Page-contents {
      grid-area: contents;
      padding-inline: 10px;
   }
}

.Page-nav {
   color: var(--LINK-color);
   &.--prev {
      grid-area: prev;
      & > a {
         padding-inline-start: 10px;
      }
   }
   &.--next {
      grid-area: next;
      & > a {
         padding-inline-end: 10px;
      }
   }

   position: sticky;
   top: 0;

   display: flex;
   flex-direction: column;

   & > a {
      color: inherit;
      flex: 1;
      &:focus {
         outline: none;
      }
      @media (hover: hover) {
         &:hover > svg {
            background-color: var(--LINK-color--faint);
         }
      }

      display: flex;
      align-items: center;
      justify-content: center;

      &:focus-visible > * {
         outline: var(--focus-outline);
      }
      overflow: hidden;
      & > svg {
         flex: 0 0 32px;
         padding: 6px;
         height: 32px;
         width: 32px;
         border-radius: 16px;

         position: fixed;
         top: 50%;
         transform: translateY(-50%);
      }
   }
}
