.SearchBar {
   border-radius: 8px;
   background: var(--input-background);
   color: var(--TEXT-color);
   &:focus-within {
      outline: var(--focus-outline);
      outline-offset: -2px;
   }
   display: flex;
}

.SearchBar-input {
   flex: 1;
   width: 0;
   border: none;
   padding: 6px 0;
   background: none;
   outline-offset: -4px;
   &:focus {
      outline: none;
   }
}

.SearchBar-icon {
   height: 1em;
   width: auto;
   border-radius: 2px;
}

.SearchBar-label {
   color: var(--TEXT-color--light);
   padding-inline: 0.325rem 0.15rem;

   display: flex;
   align-items: center;
}

.SearchBar-reset {
   color: var(--LINK-color);
   padding-inline: 0.15rem 0.325rem;
   &[hidden] {
      display: none;
   }

   display: flex;
   align-items: center;
   justify-content: center;
}

.SearchBar-reset:focus-visible .SearchBar-icon {
   outline: var(--focus-outline);
}
