.Select {
   color: var(--LINK-color);
   cursor: default;
   user-select: none;
   border-radius: 2px;

   display: inline-flex;
   align-items: center;
}

.Select:focus-visible {
   outline: var(--focus-outline);
}

.Select-icon {
   height: 1em;
   width: auto;
}
