.Sidebar {
    background: var(--dialog-background);
    z-index: 1;
    user-select: contain;
    &:not([open]) {
        display: none;
    }
    &:focus {
        outline: none;
    }
    &:focus-visible .Sidebar-titlebar {
        outline: var(--focus-outline);
        outline-offset: var(--focus-outline-offset);
    }

    @media (max-width: 29rem) {
        position: fixed;
        inset-inline: 0;
        inset-block: auto var(--toolbar-height);
        max-height: calc(var(--vh100) - var(--toolbar-height));
        &:not(.overlay) {
            height: 100%;
        }
        &.overlay {
            border-top: var(--control-border);
        }
    }
    @media (max-height: 30rem) {
        inset-block: auto 0;
        max-height: var(--vh100);
    }

    @media (min-width: 29rem) {
        // box-shadow: var(--dialog-box-shadow);
        border-inline-start: var(--control-border);
        height: 100%;
    }

    display: flex;
    flex-direction: column;
    overflow: auto;
}

.Sidebar-titlebar {
    flex: 0 0 var(--sidebar-height);
    font-size: var(--sidebar-font-size);
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    & > h2 {
        font: inherit;
        font-weight: bold;
        padding-inline: 0.5rem;
        display: flex;
        align-items: center;
    }
    & > button {
        border: none;
        padding: 0;
        height: auto;
        aspect-ratio: 1;
        background: none;
        border-radius: 0;
        &:hover {
            background: var(--control-background);
        }
    }
}

.Sidebar-content {
    flex: 1;
    overflow: auto;
}
