.TabList {
   display: flex;
   gap: 4px;
   padding: 4px;
   // background: var(--background-tinted2);

   & > *[role="tab"] {
      border: none;
      border-radius: 4px;
      &[aria-selected="true"] {
         background: var(--background-tinted1);
      }
      min-height: 32px;
      background: none;
      font: inherit;
      padding-inline: 8px;
      padding-block: 0;

      white-space: nowrap;
      // overflow: hidden;
      // text-overflow: ellipsis;
   }
}