.Toolbar {
    z-index: 2;
    font-size: calc(var(--toolbar-scale-factor) * 1rem);
    width: 100%;
    position: fixed;
    @media (min-width: 29rem) {
        top: 0;
    }
    @media (max-width: 29rem) {
        bottom: 0;
    }

    // Click-through transparent background
    pointer-events: none;
    & * {
        pointer-events: all;
    }

    overflow-x: auto;

    padding: var(--toolbar-gap);
    gap: var(--toolbar-gap);
    @media (min-width: 29rem) {
        display: flex;
    }
    @media (max-width: 29rem) {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }

    & > * {
        box-shadow: var(--toolbar-item-box-shadow);
    }

    & .goto {
        display: flex;

        & input {
            text-align: center;
            font-weight: bold;
            min-width: 0;
            width: 3em;
            flex: 1 0;
        }
    }

    @media (max-width: 29rem) {
        & .menuTitle {
            // Visually hidden, still accessible to screen readers
            position: absolute;
            overflow: hidden;
            width: 1px;
            height: 1px;
            padding: 0;
            border: 0;
            clip: rect(0 0 0 0);
            white-space: nowrap;
        }
    }
}

.ToolbarButton {
    font: inherit;
    line-height: 1;
    height: var(--control-height);
    min-width: var(--control-height);
    color: var(--color);
    border: var(--control-border);
    background: var(--toolbar-item-background);
    backdrop-filter: var(--toolbar-item-backdrop-filter);
    @media (min-width: 29rem) {
        padding: 0 0.75em;
    }
    &:focus:not(:focus-visible) {
        outline: none;
    }
    outline-offset: var(--focus-outline-offset);
    &:focus {
        outline: var(--focus-outline);
    }
    &:disabled,
    &[aria-disabled] {
        border-color: var(--disabled-color);
        color: var(--disabled-color);
    }
    &:active:not(:disabled):not([aria-disabled]) {
        background: var(--control-active-background);
    }
    &[aria-expanded] {
        background: var(--control-active-background);
    }

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25em;

    & svg {
        display: inline-block;
        height: 1.2em;
        width: 1.2em;
        flex-shrink: 0;
    }
}
