@import "form.scss";
@import "menu.scss";

@import "Dialog.scss";
@import "Document.scss";
@import "DocumentPage.scss";
@import "HomePage.scss";
@import "Hymn.scss";
@import "Index.scss";
@import "ScrollbarsCustom.scss";
@import "Toolbar.scss";

:root {
    font-size: calc(16px * var(--ui-scale-factor, 1));
    transition: font-size 0.05s ease-out;

    --background: white;
    --color: black;
    --hover-color: #008cff;
    --focus-color: orange;
    --disabled-color: hsl(0, 0%, 50%);
    --link-color: #003c8b;
    --border-radius: 6px;
    --outline-width: 2px;

    --document-font-family: Charter, "Times New Roman", Times, serif;

    --hover-outline: var(--outline-width) dashed var(--hover-color);
    --focus-outline: var(--outline-width) solid var(--focus-color);

    --control-active-background: #b7e3f0;
    --control-background: #ececec;
    --control-border-color: black;
    --control-border: 1px solid var(--control-border-color);
    // --control-border-radius: 0.15rem;
    --control-border-radius: 0;
    --control-height: 2.25rem;
    --control-outline-offset: -5px;

    --toolbar-background: transparent;
    --toolbar-border: none;
    --toolbar-padding: 0.5rem;
    --toolbar-height: calc(var(--control-height) + 2 * var(--toolbar-padding));
    --toolbar-item-box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);

    --dialog-inline-block: var(--toolbar-height);

    --scrollbar-width: 1rem;

    &[data-color-scheme="dark"] {
        --background: black;
        --color: white;
        --hover-color: yellow;
        --link-color: #aed1ff;

        --outline-width: 1px;
        --control-border-color: #7a828e;
        --control-background: hsl(220, 13%, 18%);
        --control-active-background: rgb(39, 99, 122);

        // --toolbar-background: black;
        // --toolbar-border: 1px solid #7a828e;
        // --toolbar-item-box-shadow: none;

        --dialog-inline-block: calc(var(--toolbar-height) + var(--toolbar-padding));
        scrollbar-color: grey #1d1d1d;
    }

    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
    overscroll-behavior: none;
    font: -apple-system-body;
    font-family: system-ui, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.25;
    color: var(--color);
    background-color: var(--background);
    box-sizing: border-box;
    & * {
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
    }
}

[hidden] {
    display: none !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: inherit;
}

hr {
    border: 1px solid var(--color);
    border-width: 1px 0 0 0;
}

a {
    text-decoration: none;
    color: var(--link-color);
}
a:focus {
    outline: var(--focus-outline);
}
a:focus:not(:focus-visible) {
    outline: none;
}
a:hover {
    text-decoration: underline;
}

details {
    & > summary {
        cursor: default;
        user-select: none;
        padding: 0.25rem;
    }
    & > summary:focus {
        outline: var(--focus-outline);
    }
    & > summary:focus:where(:not(:focus-visible)) {
        outline: none;
    }
    & > summary:hover {
        outline: var(--hover-outline);
    }
    & > summary:active {
        background: var(--control-active-background);
    }
}

/* Arrow */
// .popover::before {
//     content: "";
//     position: absolute;
//     border: 8px solid transparent;
//     left: calc(50% - 8px * 0.866);

//     border-bottom-color: var(--border-color);
//     // bottom: -9px; // includes 1px toolbar border

//     // border-top-color: var(--border-color);
//     top: -16px;
// }
