[role="menu"] {
    position: fixed;
    z-index: 2;
    background: var(--control-background);
    box-shadow: var(--dialog-box-shadow);
    backdrop-filter: var(--dialog-backdrop-filter);
    border: var(--control-border);
    overflow: auto;
    max-height: calc(
        var(--vh100, 100vh) - var(--toolbar-height) - 2 * var(--toolbar-gap)
    );
    left: var(--toolbar-gap);
    max-width: calc(100vw - 2 * var(--toolbar-gap));
    @media (max-width: 29rem) {
        bottom: calc(var(--toolbar-height) + var(--toolbar-gap));
        font-size: 1.1em;
    }
    @media (min-width: 29rem) {
        top: calc(var(--toolbar-height) + var(--toolbar-gap));
    }
    &[aria-hidden] {
        display: none;
    }
    &:focus {
        outline: none;
    }

    display: flex;
    flex-direction: column;
    padding: 0.25em 0;

    & [role="group"] {
        display: flex;
        flex-direction: column;
    }

    & [role="separator"] {
        border-top: var(--control-border);
        margin: 0.25em 0;
    }

    & [role^="menuitem"] {
        user-select: none;
        padding: 0.625em 0.75em;
        border: none;
        font: inherit;
        background: none;
        color: inherit;
        text-decoration: none;
        text-align: start;
        &:focus {
            background: var(--control-border-color);
            color: var(--background);
            outline: none;
        }
        &[disabled],
        &[aria-disabled] {
            color: var(--disabled-color);
            &:focus {
                background: var(--control-disabled-background);
            }
        }
    }
}

//

.menu[role="menu"] {
    position: absolute;
    z-index: 2;
    background: hsl(0, 0%, 83%);
    color: black;
    border: 1px solid black;
    padding: 0.25em 0;

    display: flex;
    flex-direction: column;
}
.menu[role="menu"][aria-hidden] {
    display: none;
}
.menu[role="menu"]:focus {
    outline: none;
}

.menu[role="menu"] [role="group"] {
    display: flex;
    flex-direction: column;
}

.menu[role="menu"] [role="separator"] {
    border-top: 1px solid black;
    margin: 0.25em 0;
}

.menu[role="menu"] [role^="menuitem"] {
    font: inherit;
    text-align: start;
    color: inherit;
    background: none;
    padding: 0.5em 0.75em;
    user-select: none;
    border: none;
    text-decoration: none;
}
.menu[role="menu"] [role^="menuitem"]:focus {
    background: hsl(0, 0%, 55%);
    outline: none;
}
.menu[role="menu"] [role^="menuitem"]:disabled,
.menu[role="menu"] [role^="menuitem"][aria-disabled] {
    color: hsl(0, 0%, 50%);
}
.menu[role="menu"] [role^="menuitem"]:disabled:focus,
.menu[role="menu"] [role^="menuitem"][aria-disabled]:focus {
    background: hsl(0, 0%, 75%);
}
