.Dialog {
    position: fixed;
    inset: 0;
    z-index: 1;
    &[aria-hidden] {
        display: none;
    }

    pointer-events: none;
}

.Dialog-content {
    pointer-events: all;
    margin: auto;
    z-index: 2;
    position: relative;
    font-size: 1rem;
    background: var(--dialog-background);
    box-shadow: var(--dialog-box-shadow);
    backdrop-filter: var(--dialog-backdrop-filter);
    border: var(--control-border);
    max-height: calc(
        var(--vh100, 100vh) - var(--toolbar-height) - 2 * var(--toolbar-gap)
    );

    @media (max-width: 29rem) {
        position: fixed;
        bottom: calc(var(--toolbar-height) + var(--toolbar-gap));
        left: var(--toolbar-gap);
        right: var(--toolbar-gap);
    }
    @media (min-width: 29rem) {
        position: fixed;
        top: calc(var(--toolbar-height) + var(--toolbar-gap));
        left: var(--toolbar-gap);
    }
}

.Dialog-closeButton {
    position: absolute;
    top: 0;
    right: 0;
    &:not(:focus) {
        pointer-events: none;
        opacity: 0;
    }
}
