%form-control {
    border: var(--control-border);
    color: var(--color);
    outline-offset: var(--control-outline-offset);
    padding: 0.4em;
    line-height: 1;
    font-family: inherit;
    font-size: inherit;
    // font-size: 1em;
    text-decoration: none;
    height: var(--control-height);
    accent-color: rebeccapurple;
    &:active {
        outline: none;
    }
    &:focus:not(:focus-visible) {
        outline: none;
    }
    &:hover:not(:disabled):not([aria-disabled]) {
        // outline: var(--hover-outline);
    }
    &:focus {
        outline: var(--focus-outline);
    }
    &:disabled,
    &[aria-disabled] {
        border-color: var(--disabled-color);
        color: var(--disabled-color);
    }

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25em;

    & svg {
        display: inline-block;
        height: 1.2em;
        width: 1.2em;
        flex-shrink: 0;
        // margin-block: -0.2em;
        // vertical-align: -0.15em;
    }
}

button,
.Button {
    @extend %form-control;
    background: var(--control-background);
    min-width: var(--control-height);
    padding-left: 0.75em;
    padding-right: 0.75em;
    user-select: none;
    cursor: default;
    backdrop-filter: var(--control-background-blur);

    &:active:not(:disabled):not([aria-disabled]) {
        background: var(--control-active-background);
    }
}

.ToggleButton {
    @extend %form-control;
    padding-left: 0.75em;
    padding-right: 0.75em;
    background: var(--control-background);
    user-select: none;
    justify-content: center;
    white-space: nowrap;
    box-shadow: var(--toolbar-item-box-shadow);

    outline-offset: -4px;
    &:focus-within {
        outline: 1px dashed rebeccapurple;
    }
    &.ToggleButton--checked:focus-within {
        outline-color: #b9b9b9;
    }

    & input {
        opacity: 0;
        position: absolute;
        pointer-events: none;
    }

    &.ToggleButton--checked {
        text-decoration: underline;
        background: rebeccapurple;
        color: white;
    }
}

.RadioButtons {
    // box-shadow: var(--toolbar-item-box-shadow);
    border: var(--control-border);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    grid-auto-columns: 1fr;

    & .RadioButtons-button {
        @extend %form-control;
        border: none;
        background: var(--control-background);
        user-select: none;

        display: flex;
        justify-content: center;
        gap: 0.25em;

        outline-offset: -4px;
        &:focus-within {
            outline: 1px dashed rebeccapurple;
        }
        &.RadioButtons-button--checked:focus-within {
            outline-color: #b9b9b9;
        }

        & input {
            opacity: 0;
            position: absolute;
            pointer-events: none;
        }
        &.RadioButtons-button--checked {
            text-decoration: underline;
            background: rebeccapurple;
            color: white;
        }
    }
}

select {
    @extend %form-control;
    background: var(--control-background);
    // appearance: none;
    // background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 20 20' width='20' height='20' fill='black' xmlns='http://www.w3.org/2000/svg'><polygon points='0,5 20,5 10,15'/></svg>");
    // background-repeat: no-repeat;
    // background-position-x: calc(100% - 0.5em);
    // background-position-y: center;
    // background-size: 1em;
    // padding-right: 1.75em;
}

input[type="text"],
input[type="search"] {
    @extend %form-control;
    max-width: 100%;
    background: var(--background);
    min-width: 6em;
    appearance: textfield;
    // font-size: 0.85em;
}

input[type="number"] {
    @extend %form-control;
    background: var(--background);
    appearance: textfield;
    max-width: 10em;
    width: 3em;
    text-align: center;
    font-weight: bold;
    // font-size: 0.85em;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

input[type="range"] {
    width: 100%;
    accent-color: rebeccapurple;
    height: var(--control-height);

    &:focus-visible {
        outline: var(--focus-outline);
        outline-offset: 2px;
        outline: 1px dashed gray;
        -moz-outline-radius: 1em;
    }
}

label.contains-checkbox {
    display: flex;
    user-select: none;
    gap: 0.25em;
    min-width: max-content;
    &:focus-within {
        outline: var(--focus-outline);
    }
}

.fieldset {
    border: var(--control-border);

    & > * {
        padding: 0.25em;
    }
    & > * + * {
        border-top: var(--control-border);
    }
}

fieldset {
    padding: 0;
    margin: 0;
    border: none;
}
fieldset legend {
    padding: 0 0.15em;
}

.form-field {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    flex-wrap: wrap;
    align-items: center;

    & > label {
        flex: 1;
    }
}
