%form-control {
    font: inherit;
    color: var(--color);
    accent-color: var(--accent-color);
    border: var(--control-border);
    height: var(--control-height);
    padding: 0.5em 0.4em;
    line-height: 1;
    // text-decoration: none;
    outline-offset: var(--focus-outline-offset);
    &:active {
        outline: none;
    }
    &:focus:not(:focus-visible) {
        outline: none;
    }
    &:focus {
        outline: var(--focus-outline);
    }
    &:disabled,
    &[aria-disabled] {
        border-color: var(--disabled-color);
        color: var(--disabled-color);
    }

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25em;

    & svg {
        display: inline-block;
        height: 1.2em;
        width: 1.2em;
        flex-shrink: 0;
    }
}

select {
    @extend %form-control;
    background: var(--control-background);

    // open arrow
    appearance: none;
    background-image: var(--select-arrow-url);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 0.625em);
    background-position-y: center;
    background-size: 0.75em;
    padding-right: 1.75em;

    padding-left: 0.5em;
    padding-right: 0.5em;
    font-weight: bold;

    outline-offset: -1px;

    // &:focus:not(:focus-visible) {
    //     outline: none;
    // }
    // &:focus {
    //     outline: var(--focus-outline);
    //     outline: none;
    // }
}

input[type="text"],
input[type="search"],
input[type="number"] {
    @extend %form-control;
    max-width: 100%;
    background: var(--background);
    min-width: 6em;
    appearance: textfield;
}

input[type="number"] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

input[type="range"] {
    width: 100%;
    accent-color: var(--accent-color);
    height: var(--control-height);

    &:focus-visible {
        outline: var(--focus-outline);
        outline-offset: 2px;
        outline: 1px dashed gray;
        -moz-outline-radius: 1em;
    }
}

.Button {
    @extend %form-control;
    background: var(--control-background);
    min-width: var(--control-height);
    padding-left: 0.75em;
    padding-right: 0.75em;
    user-select: none;
    white-space: nowrap;
    cursor: default;
    backdrop-filter: var(--control-background-blur);

    &:active:not(:disabled):not([aria-disabled]) {
        background: var(--control-active-background);
    }
}

.ToolbarButton {
    @extend .Button;
    background: var(--toolbar-item-background);
    backdrop-filter: var(--toolbar-item-backdrop-filter);
    transition: backdrop-filter 0.25s ease-in-out;
    &[aria-expanded] {
        background: var(--control-active-background);
    }
}

.ButtonLink {
    background: none;
    border: none;
    display: inline-block;
    text-decoration: underline;
    font: inherit;
    cursor: pointer;
    color: var(--link-color);
    padding: 0;

    &:disabled,
    &[aria-disabled] {
        text-decoration: line-through;
    }
}

.ToggleButton {
    @extend %form-control;
    padding-left: 0.75em;
    padding-right: 0.75em;
    background: var(--control-background);
    user-select: none;
    justify-content: center;
    white-space: nowrap;
    box-shadow: var(--toolbar-item-box-shadow);

    outline-offset: -4px;
    &:focus-within {
        outline: 1px dashed var(--focus-color);
    }
    &.ToggleButton--checked:focus-within {
        outline-color: #b9b9b9;
    }

    & input {
        opacity: 0;
        position: absolute;
        pointer-events: none;
    }

    &.ToggleButton--checked {
        text-decoration: underline;
        background: var(--accent-color);
        color: white;
    }
}

.RadioButtons {
    box-shadow: inset var(--toolbar-item-box-shadow);
    border: var(--control-border);
    padding: 0;
    margin: 0;
    background: var(--control-background);

    overflow: auto;
    display: flex;

    & .RadioButtons-button {
        @extend %form-control;
        flex: 1 0;
        border: none;
        user-select: none;

        display: flex;
        justify-content: center;
        gap: 0.25em;

        outline-offset: -8px;
        &:focus-within {
            outline: 1px dashed var(--focus-color);
        }
        &.RadioButtons-button--checked:focus-within {
            outline-color: #b9b9b9;
        }
        &.RadioButtons-button--checked {
            color: white;
            background: var(--accent-color);
            // border: 0.25em solid var(--control-background);
        }

        & input {
            opacity: 0;
            position: absolute;
            pointer-events: none;
        }
    }
}
