%form-control {
    border: var(--control-border);
    border-radius: var(--control-border-radius);
    color: var(--color);
    outline-offset: var(--control-outline-offset);
    padding: 0.4rem;
    line-height: 1;
    font: inherit;
    font-size: 1rem;
    text-decoration: none;
    height: var(--control-height);
    &:active {
        outline: none;
    }
    &:focus:not(:focus-visible) {
        outline: none;
    }
    &:hover:not(:disabled):not([aria-disabled]) {
        // outline: var(--hover-outline);
    }
    &:focus {
        outline: var(--focus-outline);
    }
    &:disabled,
    &[aria-disabled] {
        border-color: var(--disabled-color);
        color: var(--disabled-color);
    }

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;

    & svg {
        display: inline-block;
        height: 1.2em;
        width: 1.2em;
        // margin-block: -0.2rem;
        // vertical-align: -0.15rem;
    }
}

button,
.Button {
    @extend %form-control;
    background: var(--control-background);
    min-width: 2.5rem;
    &:disabled,
    &[aria-disabled] {
        // text-decoration: line-through;
    }
    &:active:not(:disabled):not([aria-disabled]) {
        background: var(--control-active-background);
    }
}

select {
    @extend %form-control;
    background: var(--control-background);
    // appearance: none;
    // background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 20 20' width='20' height='20' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><polygon points='0,5 20,5 10,15'/></svg>");
    // background-repeat: no-repeat;
    // background-position-x: calc(100% - 0.5rem);
    // background-position-y: center;
    // background-size: 1rem;
    // padding-right: 1.75rem;
}

input[type="text"],
input[type="search"] {
    @extend %form-control;
    max-width: 100%;
    background: var(--background);
    min-width: 6rem;
    appearance: textfield;
    // font-size: 0.85rem;
}

input[type="number"] {
    @extend %form-control;
    background: var(--background);
    appearance: textfield;
    max-width: 10em;
    width: 3.5rem;
    text-align: center;
    // font-size: 0.85rem;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

label.contains-checkbox {
    display: flex;
    user-select: none;
    gap: 0.25rem;
    min-width: max-content;
    &:focus-within {
        outline: var(--focus-outline);
    }
}

.fieldset {
    border: var(--control-border);
    border-radius: var(--border-radius);

    & > * {
        padding: 0.75rem;
    }
    & > * + * {
        border-top: var(--control-border);
    }
}

.form-field {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;

    & > label {
        flex: 1;
    }
}
