.Hymn {
    // background: var(--background);
    // padding: 0.75rem;
    // box-shadow: 0 2px 4px rgba(34, 31, 28, 0.37);
    display: flex;
    flex-direction: column;
    min-height: 100%;

    & > * {
        margin-top: 0;
    }
    & > * + * {
        margin-top: 0.5rem;
    }
}

.Hymn-header {
    text-align: center;
    top: 0;

    & > * {
        margin-top: 0;
    }
    & > * + * {
        margin-top: 0.5rem;
    }
}
.Hymn-number {
    font-size: 1.625rem;
    line-height: 1;
    font-weight: bold;
    scroll-margin-top: 5rem;
}
.Hymn.isDeleted .Hymn-number {
    text-decoration: line-through;
}
.Hymn-tunes {
    font-style: italic;
}

.Hymn-chorus,
.Hymn-refrain {
    margin-left: 1rem;
}
.Hymn-inlineRefrain {
    font-style: italic;
}

.Hymn-highlight {
    background: blue;
}

.Hymn-verses {
    flex: 1;

    & > * {
        margin-top: 0;
    }
    & > * + * {
        margin-top: 0.5rem;
    }
}
.Hymn-verseNumber {
    margin-left: 0.5rem;
    margin-right: 0.25rem;
}
.Hymn-repeat {
    font-weight: bold;
    margin-right: 0.5rem;
}
.Hymn-repeatMarker {
    // margin-left: -0.5rem;
}
.Hymn-line {
    margin-right: 0.5rem;
    break-after: always;
    // display: block;
    // text-indent: -1rem;
    // margin-left: 1rem;
}
.Hymn-line--nospaceafter {
    margin-right: 0;
}

.Hymn-details {
    border-top: 1px solid;
    padding-top: 0.5rem;
    font-size: 0.8em;
    line-height: 1.5;
}
.Hymn-topics,
.Hymn-days {
    font-size: 0.85rem;
}
