.IndexDialog-backdrop {
    position: fixed;
    inset: 0;
    z-index: 1000;
    padding: 1rem;
    background: hsla(0, 0%, 0, 0.5);
}
    .IndexDialog {
        max-width: 40rem;
        height: 100%;
        border: var(--control-border);
        background: var(--background);
        max-width: 40rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
        .IndexDialog-header {
            display: flex;
            background: var(--control-background);
            border-bottom: var(--control-border);
        }
            .IndexDialog-title {
                flex: 1;
                font-size: 1rem;
                padding: 0.5rem;
            }
            .IndexDialog-closeButton {
                border: none;
                background: none;
            }
        .IndexDialog-content {
            overflow: auto;
            overscroll-behavior: contain;
        }
            .IndexDialog-entryList {
                list-style: none;
                padding: 0;

                & > * + * {
                    border-top: 1px solid;
                }
                & > * {
                    padding: 0.25rem 0.5rem;
                }
            }
            .IndexDialog-itemList {
                list-style: none;
                padding: 0;

                & > * {
                    padding: 0.25rem 0.5rem;
                }
                & > * + * {
                    // border-top: 1px solid;
                }
            }
                .IndexDialog-link {
                    color: var(--color);
                    text-decoration: none;
                    display: block;
                }
