@import "form.scss";
@import "fonts.scss";
@import "menu.scss";

@import "Dialog.scss";
@import "Find/FindDialog.scss";
@import "Find/IndexPanel.scss";
@import "Find/ListsPanel.scss";
@import "Find/SearchPanel.scss";
@import "GoToInput.scss";
@import "HorizontalScroller.scss";
@import "Hymn.scss";
@import "MainPage.scss";
@import "ManagePage.scss";
@import "AppMenu.scss";
@import "OptionsDialog.scss";

:root {
    font-weight: 400;
    --font-family: Charter, Georgia, "Times New Roman", Times, serif;

    --vh100: 100vh;

    --background: white;
    --canvas-background: gray;
    --color: black;
    --accent-color: rebeccapurple;
    --hover-color: #008cff;
    --focus-color: rebeccapurple;
    --disabled-color: hsl(0, 0%, 50%);
    --link-color: #003c8b;
    --focus-outline: var(--focus-outline-width) solid var(--focus-color);
    --focus-outline-width: 2px;
    --focus-outline-offset: -5px;

    --control-height: 2.25em;
    --control-active-background: #b7e3f0;
    --control-disabled-background: hsl(0 0% 70%);
    --control-background: hsl(var(--control-background-hsl));
    --control-background-hsl: 0 0% 92%;
    --control-border-width: 1.5px;
    --control-border-color: black;
    --control-border: var(--control-border-width) solid var(--control-border-color);

    --toolbar-item-box-shadow: 0 0 7px hsla(0, 0%, 0%, 0.3);
    --toolbar-item-backdrop-filter: blur(3px);
    --toolbar-item-background-hsl: var(--control-background-hsl);
    --toolbar-item-opacity: 1;
    @supports ((backdrop-filter: blur(3px))) {
        --toolbar-item-opacity: 0.7;
    }
    --toolbar-item-background: hsl(
        var(--toolbar-item-background-hsl) / var(--toolbar-item-opacity)
    );

    --toolbar-scale-factor: 1.25;
    --toolbar-gap: 0.5rem;
    --toolbar-height: calc(
        var(--toolbar-scale-factor) * var(--control-height) + var(--toolbar-gap)
    );

    --dialog-background-hsl: 0 0% 80%;
    --dialog-background-opacity: 1;
    @supports ((backdrop-filter: blur(3px))) {
        --dialog-background-opacity: 0.85;
    }
    --dialog-background: hsla(
        var(--dialog-background-hsl) / var(--dialog-background-opacity)
    );
    --dialog-backdrop-filter: blur(4px);
    --dialog-max-height: calc(
        var(--vh100) - var(--toolbar-height) - 2 * var(--toolbar-gap)
    );
    --dialog-box-shadow: var(--toolbar-item-box-shadow);

    --select-arrow-url: url("data:image/svg+xml;utf8,<svg viewBox='0 0 20 20' width='20' height='20' fill='black' xmlns='http://www.w3.org/2000/svg'><polygon points='0,5 20,5 10,15'/></svg>");

    &[data-color-scheme="dark"] {
        font-weight: 300;

        --background: black;
        --color: white;
        --accent-color: rebeccapurple;
        --hover-color: yellow;
        --link-color: #aed1ff;
        --disabled-color: #666666;
        --focus-color: #bd7b00;
        --focus-outline-width: 1.5px;

        --dialog-background-opacity: 1;
        --dialog-background-hsl: 216 0% 13%;

        --control-border-width: 1.5px;
        --control-border-color: gray;
        --control-background-hsl: 270 5% 23%;
        --control-active-background: #27647c;

        --toolbar-item-box-shadow: none;
        --toolbar-item-backdrop-filter: blur(6px);

        --select-arrow-url: url("data:image/svg+xml;utf8,<svg viewBox='0 0 20 20' width='20' height='20' fill='white' xmlns='http://www.w3.org/2000/svg'><polygon points='0,5 20,5 10,15'/></svg>");

        scrollbar-color: #959595 #171717;
    }
}

:root {
    text-size-adjust: none;
}

html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
    overscroll-behavior: none;
    font: -apple-system-body;
    font-family: var(--font-family);
    line-height: 1.25;
    color: var(--color);
    background-color: var(--background);
    box-sizing: border-box;

    & *::selection {
        background: var(--accent-color);
        color: white;
    }

    & * {
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
    }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: inherit;
}

a {
    text-decoration: none;
    color: var(--link-color);
}
a:focus {
    outline: var(--focus-outline);
}
a:focus:not(:focus-visible) {
    outline: none;
}
a:hover {
    text-decoration: underline;
}

details summary > * {
    display: inline;
}

// Visually hidden, still accessible to screen readers
.visually-hidden {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    white-space: nowrap;
}

/* Arrow */
// .popover::before {
//     content: "";
//     position: absolute;
//     border: 8px solid transparent;
//     left: calc(50% - 8px * 0.866);

//     border-bottom-color: var(--border-color);
//     // bottom: -9px; // includes 1px toolbar border

//     // border-top-color: var(--border-color);
//     top: -16px;
// }
