.MainPage {
    height: 100%;
    max-height: 100%;
    background: var(--control-border-color);
    line-height: 1.5;
    font-family: var(--document-font-family);

    display: flex;
    flex-direction: column;

    .MainPage-title {
        position: sticky;
        width: 100%;
        left: 0;
        font-size: 1rem;
        z-index: 3;
        background: var(--control-background);
        text-align: center;
        border-bottom: var(--control-border);
        box-shadow: var(--toolbar-item-box-shadow);

        @media (min-width: 29rem) {
            display: none;
        }
    }

    .Toolbar {
        position: fixed;
        width: 100%;
        z-index: 10;

        @media (max-width: 29rem) {
            bottom: 0;
        }
        @media (min-width: 29rem) {
        }
    }
}
