.MainPage {
    height: 100%;
    max-height: 100%;
    background: var(--control-border-color);
    line-height: 1.5;
    font-family: var(--document-font-family);
    overflow-x: auto;
    scroll-padding-block: var(--toolbar-height);
    @media (max-width: 40rem) {
        scroll-snap-type: x mandatory;
    }

    display: flex;
    flex-direction: column;

    .MainPage-title {
        position: sticky;
        width: 100%;
        left: 0;
        font-size: 1rem;
        z-index: 3;
        background: var(--control-background);
        text-align: center;
        border-bottom: var(--control-border);
        box-shadow: var(--toolbar-item-box-shadow);

        @media (max-width: 29rem) {
        }
    }

    .Toolbar {
        position: fixed;
        width: 100%;
        z-index: 10;

        @media (max-width: 29rem) {
            bottom: 0;
        }
        @media (min-width: 29rem) {
        }
    }

    .DisplayOptionsPanel {
        position: fixed;
        z-index: 11;
        overflow: auto;
        @media (max-width: 29rem) {
            bottom: var(--toolbar-height);
            // max-height: 35%;
            width: 100%;
        }
        @media (min-width: 29rem) {
            // height: 100%;
        }
    }

    .Document {
        height: 100%;
        max-height: 100%;

        .HymnWrapper {
            background: var(--background);
            scroll-snap-align: center;
            scroll-stop-snap: always;
            overflow-y: auto;

            @media (min-width: 29rem) {
                // scrollbar-width: thin;
                padding-top: calc(var(--toolbar-height)); // top toolbar
            }
            @media (max-width: 29rem) {
                padding-bottom: var(--toolbar-height); // bottom toolbar
            }
        }
    }
}
