.szh-menu-container {
    position: absolute;
    width: 0;
    height: 0;
    font-size: 1rem;
    // font-size: calc(var(--toolbar-scale-factor) * 1rem);
}
.szh-menu {
    box-sizing: border-box;
    width: max-content;
    position: absolute;
    z-index: 100;
}
.szh-menu--state-closed {
    display: none;
}
.szh-menu__submenu {
    position: relative;
}

.szh-menu-container [role="menu"] {
    padding: 0.19em 0;
    position: absolute;
    list-style: none;
    border: var(--control-border);
    background: var(--control-background);
    color: var(--color);
    box-shadow: var(--toolbar-item-box-shadow);
    margin: 0.5em 0;
    margin: 0;

    // position: fixed;
    // bottom: var(--toolbar-height);
    // left: var(--toolbar-gap);
    // right: var(--toolbar-gap);
    // width: calc(100vw - 2 * var(--toolbar-gap));

    & [role="menuitem"],
    & [role="menuitemcheckbox"],
    & [role="menuitemradio"] {
        display: block;
        white-space: nowrap;
        padding: 0.25em 0.5em;
        padding: 0.375em 0.625em;
        width: 100%;
        text-align: left;
        cursor: default;
        color: inherit;
        background: none;
        border: none;
        font: inherit;
        user-select: none;
        text-decoration: none;

        display: flex;
        gap: 0.375em;

        &[aria-disabled="true"] {
            color: #a3a3a3;
        }
        &[aria-pressed="true"] {
            // background: #cecece;
        }
        &:hover {
            outline: none;
        }
        &:focus {
            outline: var(--focus-outline);
            outline-offset: -1px;
        }
        &:focus[aria-disabled="true"] {
            background: #e9e8e8;
        }
        &:active:not([aria-disabled="true"]) {
            // background: #838282;
            // color: white;
        }

        &::before {
            content: "";
            min-width: 1.5em;
        }
        &[role="menuitemcheckbox"][aria-checked="true"]::before {
            // content: "✓";
            display: none;
        }
        &[role="menuitemradio"][aria-checked="true"]::before {
            content: "•";
        }
    }

    // Submenu
    & [role="menuitem"][aria-haspopup] {
        padding-right: 2.5em;

        &::after {
            content: "❯";
            position: absolute;
            right: 1rem;
        }
    }

    & [role="separator"] {
        height: 1px;
        background: currentColor;
        margin: 0.19em 0.5em;
    }

    & [role="group"] {
        padding: 0;
        list-style: none;
        &:focus-within {
            // outline: 1px solid red;
        }
    }

    & [role="group"].inline {
        padding: 0;
        list-style: none;
        display: flex;
        // font-size: 0.9em;

        & [role="menuitemradio"] {
            min-width: 0;
            border: var(--control-border);
            // border-radius: 100%;
            padding: 0.375em;
            text-align: center;
            &[aria-checked="true"] {
                border: 1px solid red;
            }
            &::before {
                display: none;
            }
        }
    }
}
