.FindDialog {
    @media (min-width: 29rem) {
        width: 25rem;
    }
    height: var(--dialog-max-height);
    display: grid;
    grid-template:
        "tablist"
        "tabpanel" 1fr;

    [role="tablist"] {
        grid-area: tablist;
        overflow-x: auto;
        height: min-content;
        width: 100%;
        margin: 0;
        padding: 0;

        display: flex;

        & [role="tab"] {
            flex: 1 0;
            text-align: center;
            list-style: none;
            padding: 0.65rem 0.5rem 0.35rem;
            background: var(--control-background);
            border: none;
            color: var(--color);
            font: inherit;

            border: var(--control-border);
            border-top: none;
            border-width: 0 0.75px 1.5px 0.75px;
            &:first-child {
                border-left-width: 0;
            }
            &:last-child {
                border-right-width: 0;
            }

            &[aria-selected] {
                z-index: 2;
                background: none;
                border-bottom-color: transparent;
                box-shadow: var(--toolbar-item-box-shadow);
            }
            &[aria-disabled] {
                color: gray;
            }
            &:focus:not(:focus-visible) {
                &::before {
                    content: none;
                }
            }
            &:focus {
                outline: none;

                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    border: var(--focus-outline);
                    border-bottom: none;
                }
            }
        }
    }

    [role="tabpanel"] {
        grid-area: tabpanel;
        overflow: auto;
        flex: 1;
        &[aria-hidden] {
            display: none;
        }

        display: flex;

        & > * {
            flex: 1;
        }
    }
}
