.IndexPanel {
    display: grid;
    grid-template:
        "controls"
        "results" 1fr;
    padding: var(--toolbar-gap);
    gap: var(--toolbar-gap);

    & > .controls {
        grid-area: controls;
        display: grid;

        gap: var(--toolbar-gap);

        & > .controls-inline {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
            gap: var(--toolbar-gap);
        }
    }

    & > ul.entries {
        grid-area: results;
        border: var(--control-border);
        overflow: auto;
        background: var(--background);
        box-shadow: inset var(--toolbar-item-box-shadow);
        list-style: none;
        margin: 0;
        padding: 0;

        & > li.entry {
            padding: 0;
            &:not(:last-child) {
                border-bottom: 1px solid var(--control-border-color);
            }
            &:focus-within {
                // background: var(--control-active-background);
            }

            & h2 {
                font-size: inherit;
            }

            & > details {
                &:not(:first-child) {
                    border-top: var(--control-border);
                }

                & > summary.entry-title {
                    padding: 0.5rem;
                    display: block;
                    // text-align: center;
                    cursor: default;
                    user-select: none;

                    display: flex;
                    justify-content: space-between;
                    gap: 1em;
                    align-items: baseline;
                }

                & > ul.entry-references {
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    & > li.entry-reference {
                        padding: 0.25em 0.5em;
                    }
                }
            }
        }
    }
}
